<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/dataReceipt" method="POST">
        <input type="radio" name="typeOfr" value="download" checked>
        <input type="radio" name="typeOfr" value="agree">
        <button type="submit">dasfafd</button>
    </form>



</body>
<script>
    let aa = '{{aa}}'
    console.log(aa);
    let b = aa.indexOf('2020-');
    console.log(b)
</script>

</html>